

@media only screen and (max-width: 768px){
    .tile {
        height: calc(66vw);
        width: 100vw;
        background-color:var(--second-light-color);
        position: relative;
        border-bottom: 1px solid var(--second-light-color);
        overflow: hidden;
    }

    .tile > h2{
        position: absolute;
        bottom: .5rem;
        right: 1rem
    }

    .content{
        width: 100%;
        height:100%;
    }

    .content > picture,
    .content > picture > img {
        width: 100%;
        height:100%;
    }

}


