

@media only screen and (max-width: 768px){
    .tile {
        height: 66vw;
        margin-bottom: 2px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-bottom: 1px solid var(--second-light-color);
    }

    .tile > h2{
        position: absolute;
    }

    .content{
        background-color: lightsalmon;
        width: 90%;
        height: 90%;
    }

}


