.music-page section{
    padding:1rem;
    align-items: center;
}

.music-page section a{
    display:flex;
    justify-content: center;
}

.music-page .section-odd{
    background-color: var(--hl-color-1);
    border-radius: 1rem;
}

.music-page .content-area iframe{
    width: calc(100vw - 5rem);
    height: calc((2/3) * (100vw - 5rem) );
}

.music-page .content-area img{
    width: 50%;
}