.blog-post-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
   width: 100%;
}

.blog-post-page h2,
.blog-post-page h3 {
   text-align: center;
}

.blog-post-page .blog-post-content {
   border: 1px solid var(--hl-color-2);
   border-radius: 1rem;
   width: 100%;
   padding: 1rem;
}

.blog-post-page .blog-image {
   max-width: 100%;
   max-height: 400px;
   margin-bottom: 1rem;
}

.blog-post-page .prerequisites {
   background-color: var(--hl-color-1);
   border-radius: 1rem;
   padding: 1rem;
}

.blog-post-page .prerequisites ul {
   list-style-type: unset;
   margin-left: 1rem;
}

.blog-post-page .step {
   margin-top: 1rem;
   border-top: 1px solid var(--hl-color-2);
}

.blog-post-page .step h4 {
   color: var(--second-dark-color);
}

.blog-post-page .step-body {
   margin: 0 1rem 0 1rem;
}

.blog-post-page code {
   width: 100%;
   display: block;
   overflow: auto;
   color: var(--hl-color-3);
   background-color: var(--main-dark-color);
   padding: 1rem;
}

.blog-post-page .img-container{
   width: 100%;
   display: flex;
   justify-content: center;
}

.blog-post-page .step-body img {
   border: 1px solid var(--hl-color-2);
   border-radius: 1rem;
   max-width: 100%;
   padding: 1rem;
}