.app{
    min-width: 300px;
    min-height: 500px;
}
@media only screen and (max-width: 768px){
    .app{
        position: relative;
    }
    .top-title{
        position: absolute;
        top: 115px;
        left: 30px;
    }

    .right-title{
        transform: rotate(90deg);
        position: absolute;
        right: -38px;
        top: 340px;
    }
    header{
        /* background-color: pink; */
        height: 80px;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        width:100vw;
    }

    nav {
        width: fit-content
    }

    nav li{
        margin-left: 10px
    }

    main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .app .test-div{
        height: 1000px;
        width: calc(100% - 40px);
        background-color: lightgrey;
        padding: 20px;
    }

    
}


