*{
  box-sizing: border-box;
}

:root{
  --main-light-color: #ffffff;
  --second-light-color:  #dbd9d9;
  --main-dark-color: #000000;
  --hl-color-1: #9BCB76;
  --hl-color-2: #DB7878
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-light-color);
}

.secondary-font {
  font-family: source-sans-pro, sans-serif;
}

/* https://css-tricks.com/rem-global-em-local/ */

html{
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, ul{
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--main-dark-color);
}

a:hover{
  color: var(--hl-color-2);
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.underline{
  text-decoration: underline;
}

.page-content{
  padding: 85px 45px;
}


