*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

.secondary-font {
  font-family: source-sans-pro, sans-serif;
}

/* https://css-tricks.com/rem-global-em-local/ */

html{
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, ul{
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
}

a{
  text-decoration: none;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}


